@font-face {
    font-family: "Montserrat";
    src: url("https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3g3D_u50.woff2");
  }
  
  @font-face {
    font-family: "Barlow Condensed";
    src: url("https://fonts.gstatic.com/s/barlowcondensed/v7/wlphgxjLBV1hqnzfr-4cffMp6Tg6kgZ-v2rvL4A.woff2");
    
  }  

  @font-face {
    font-family: 'Pilated';
    src: url('./assets/typography/PilatedfreeRegular-K7xPo.otf');
  }  

  @font-face {
    font-family: "Unisans-Heavy";
    src: url("../styles/assets/typography/UniSans-Heavy.otf");
  }

  @font-face {
    font-family: "UniSans-Thin";
    src: url("../styles/assets/typography/UniSans-Thin.otf");
  }

  @font-face {
    font-family: "Agina";
    src: url("../styles/assets/typography/Agina.otf");
  }

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}


body,
html {
    font-family: "Agina", sans-serif;
    font-size: 18px;
    font-weight: 1200 
  }

h1,h2,h3,h4,h5,h6 {
  font-family: "Unisans-Heavy", sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.vl {
  border-left: 3px solid #333131;
  height: 100vh;
}

.boxShadow { 
  box-shadow: 10px 10px 0px 0px #333131
}

.buttonShadow { 
  box-shadow: 5px 5px 0px 0px #333131
}



