@font-face {
    font-family: "Montserrat";
    src: url("../styles/assets/typography/Montserrat-VariableFont_wght.ttf");
  }
  
  @font-face {
    font-family: "Barlow Condensed";
    src: url("../styles/assets/typography/BarlowCondensed-Bold.ttf");
    
  }  

  @font-face {
    font-family: 'Pilated';
    src: url('./assets/typography/PilatedfreeRegular-K7xPo.otf');
  }  

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}


body,
html {
    font-family: "Pilated", sans-serif;
    font-size: 16px;
    font-weight: bold    
  }

h1,h2,h3,h4,h5,h6 {
  font-family: "Pilated", sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.vl {
  border-left: 3px solid #333131;
  height: 100vh;
}

.boxShadow { 
  box-shadow: 10px 10px 0px 0px #333131
}

.buttonShadow { 
  box-shadow: 5px 5px 0px 0px #333131
}

hr {
  border: none;
  border-top: 2px solid #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

hr:after {
  background: #fff;
  content: '🥕';
  padding: 0 4px;
  position: relative;
  top: -13px;
}


.shadow-hard {
  box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75) !important;
  -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75) !important;
  -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75) !important;
}